/*
 * New diff- syntax
 */

pre[class*="language-diff-"] {
	--eleventy-code-padding: 1.25em;
	padding-left: var(--eleventy-code-padding);
	padding-right: var(--eleventy-code-padding);
}

.token.deleted {
	background-color: hsl(0, 100%, 50%);
	color: inherit;
}

.token.inserted {
	background-color: hsl(126, 100%, 16%);
	color: inherit;
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	-webkit-user-select: none;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.token.prefix.inserted,
.token.prefix.deleted {
	width: var(--eleventy-code-padding);
	background-color: rgba(46, 19, 19, 0.2);
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
	display: block;
	margin-left: calc(-1 * var(--eleventy-code-padding));
	margin-right: calc(-1 * var(--eleventy-code-padding));
	text-decoration: none;
	/* override del, ins, mark defaults */
	color: inherit;
	/* override del, ins, mark defaults */
}

.post-content {
	max-width: 700px;
	line-height: 1.7;
	font-size: 18px;
}

.post-content h1,
.post-content h2 {
	color: #38bdf8;
}